*{box-sizing:border-box}
  body {
      position: relative; 
  }
.main{
    width:1150px;
    height:750px;
    background-color: #8ACE00;
    margin: 25px auto;
}
.main2{
    width:1100px;
    height:700px;
    background:#000000;
    border: 6px solid rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    box-shadow: 0 14px 40px rgba(15,40,80,0.18);
    position: relative;
    top:25px;
    left:25px;
}

.minimal-nav {
    background: black;
    padding: 15px 0;
}

.minimal-link {
    font-weight: 500;
    font-size: 15px;
    color: #ffffff !important;
    padding: 8px 12px;
    border-radius: 6px;
    transition: 0.2s ease;
}

.minimal-link:hover {
    background: #8ACE00;
    color: #ffffff !important;
}
.login{
    background-color: #000000;
    font-size: 15px;
    color:#ffffff;
    padding: 8px 15px;
    border-radius: 20px 20px ;
    text-decoration: none;
    font-weight: bolder;
    position: relative;
    left: 50px;
}
.user{
    background-color: #ffffff;
    font-size: 15px;
    color:#8ACE00;
    padding: 8px 15px;
    border-radius: 20px 20px ;
    text-decoration: none;
    font-weight: bolder; 
    position: relative;
    left: 60px;
}

.login:hover{
    background: #000000;
    color:#8ACE00;
}

.user:hover{
    background: #000000;
    color:#8ACE00;   
}
.premium-btn{
  background:#8ACE00;
  color:#000;
  padding:8px 18px;
  border-radius:20px;
  font-weight: bolder;
  position: relative;
  left: 90px;

}

.premium-btn:hover{
  background:#6aa800;
}