*{box-sizing:border-box}
  body {
      position: relative; 
  }
.main{
    width:1150px;
    height:750px;
    background-color: #8ACE00;
     margin: 25px auto;
}
.main2{
    width:1100px;
    height:700px;
    background:#000000;
    border: 6px solid rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    box-shadow: 0 14px 40px rgba(15,40,80,0.18);
    position: relative;
    top:25px;
    left:25px;
}

.minimal-nav {
    background: black;
    padding: 15px 0;
}

.minimal-link {
    font-weight: 500;
    font-size: 15px;
    color: #ffffff !important;
    padding: 8px 12px;
    border-radius: 6px;
    transition: 0.2s ease;
}

.minimal-link:hover {
    background: #8ACE00;
    color: #ffffff !important;
}
.login{
    background-color: #000000;
    font-size: 15px;
    color:#ffffff;
    padding: 8px 15px;
    border-radius: 20px 20px ;
    text-decoration: none;
    font-weight: bolder;
    position: relative;
    left: 50px;
}
.user{
    background-color: #ffffff;
    font-size: 15px;
    color:#8ACE00;
    padding: 8px 15px;
    border-radius: 20px 20px ;
    text-decoration: none;
    font-weight: bolder; 
    position: relative;
    left: 60px;
}

.login:hover{
    background: #000000;
    color:#8ACE00;
}

.user:hover{
    background: #000000;
    color:#8ACE00;   
}
.premium-btn{
  background:#8ACE00;
  color:#000;
  padding:8px 18px;
  border-radius:20px;
  font-weight: bolder;
  position: relative;
  left: 90px;

}

.premium-btn:hover{
  background:#6aa800;
}


.divsmall1{
    width: 400px;
    height: 200px;
    position: relative;
    top: 10px;
    left: 300px;
}

.divsmall2{
    width:290px;
    height:450px;
    background-color: #8ACE00;
    border-radius: 10px;
    position: relative;
    top: -215px;
    right: -440px;
}
.divsmall2-1{
    width:260px;
    height:420px;
    background-color: #000000;
    border-radius: 10px; 
    position: relative;
    top: 15px;
    left:15px;
}

.img1{
    width:320px;
    height:490px;
    position: relative;
    top:-705px;
    left:410px;
}

.divsmall3{
    width:260px;
    height: 300px;
    background-color: #7a0000;
    border: 5px #f4b5b5 solid;
    border-radius: 20px;
    position: relative;
    top:-660px;
    left:-280px
}

.divsmall4{
    width: 400px;
    height: 180px;
    background: #1E1E1E;          /* card-ийн dark background */
    border-radius: 18px;
    display: flex;
    align-items: center;
    overflow: hidden;             /* strip дугаарахгүй */
    font-family: sans-serif;
    position: relative;
    top:-700px;
    left:0px;
}


.img2{
    width:90px;
    height:90px;
    position: relative;
    top: 5px;
    left: 10px;
}

.img3{
    width:350px;
    height:200px;    
    position: relative;
    top: -60px;
    left: -50px;
}

.img4{
    width:500px;
    height:300px;   
    position: relative;
    top:-80px;
    left:-130px;
}

.divsmall5{
    width: 260px;
    height: 100px;
    background-color: #1DB954;
    position: relative;
    top:-1060px;
    left: -280px;
    border: 1px #000000 solid;
    border-radius: 10px;
    overflow: hidden;
}


.img5{
    width:250px;
    height: 250px;
    position: relative;
    top: -950px;
    float:right;
}


.color-strip {
    width: 50px;
    height: 100%;
    background: linear-gradient(#39ff14, #8ACE00);
    box-shadow: 0 0 15px #39ff14;   /* glow effect */
}


.color-content {
    padding-left: 15px;
    color: white;
}

.color-content h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

.color-content p {
    margin: 2px 0 0 0;
    font-size: 13px;
    opacity: 0.7;
    line-height: 1.2;
}


.oswald-h4 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
  padding-top: 10px;
  padding-left: 15px;
  color: white;
}
.img6{
    height: 130px;
    width:auto;
    border: #000000 solid 1px;
    border-radius: 10px;
    margin-left: 20px;
}
.oswald-h4:hover{
    color:#8ACE00
}

.img7{
    height: 65px;
    width: auto;
    border: #000000 solid 1px;
    border-radius: 10px;
}
.profile{
    background-color: #1E1E1E;
    color:white;
    font-weight: bold;
    border:1px solid black;
    border-radius: 30px;
    position: relative;
    top: -160px;
    left: 40px;
    box-shadow: 0 0 10px #8ACE00;
}

.profile:hover{
    background-color: #8ACE00;
    color:#000000;
    box-shadow: 0 0 10px rgb(0, 0, 0);  
}.me-and-music{
    position: relative;
    top:-1000px;
    left:-50px;
}


.getticket{
    background-color: black;
    color: white;
    font-weight: bold;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 20px;
    position: relative;
    left:65px;
    top: 30px;
}

.getticketphoto{
    width: 200px;
    height: auto;
    position: relative;
    top: 60px;
    left: 30px;
    transform: rotate(-10deg);
    box-shadow: 5px 10px 40px rgb(201, 201, 201);
}
.getticketphoto2{
    width: 200px;
    height: auto;
    position: relative;
    top: -10px;
    left: 30px;
    transform: rotate(10deg);
    box-shadow: 5px 10px 40px rgb(201, 201, 201);
}

.eventtext{
    color: white;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    top: 20px;
    left: 20px;
    font-weight: bold;
    text-shadow: 3px 0px 1px black;
}

.eventdiv{
    width: 230px;
    height: 70px;
    background-color: #000000;
    border: white solid 1px;
    border-radius: 10px;
    margin: auto;
    position: relative;
    top: 5px;
}
.eventdivphoto2{
    width: 120px;
    height: auto;
    position: relative;
    top: 15px;
    left: 50px;
    box-shadow: 5px 10px 40px rgb(201, 201, 201);
}

.date{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    position: relative;
    left: 10px;
    background-color: #1E1E1E;
    width:170px;
}
.premium-btn{
  background:#8ACE00;
  color:#000;
  padding:8px 18px;
  border-radius:20px;
  font-weight: bolder;
  position: relative;
  left: 90px;

}

.premium-btn:hover{
  background:#6aa800;
}
