*{box-sizing:border-box}
  body {
      position: relative; 
  }
.main{
    width:1150px;
    height:750px;
    background-color: #8ACE00;
    margin: auto;  
}
.main2{
    width:1100px;
    height:700px;
    background:#000000;
    border: 6px solid rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    box-shadow: 0 14px 40px rgba(15,40,80,0.18);
    position: relative;
    top:25px;
    left:25px;
}

.minimal-nav {
    background: black;
    padding: 15px 0;
}

.minimal-link {
    font-weight: 500;
    font-size: 15px;
    color: #ffffff !important;
    padding: 8px 12px;
    border-radius: 6px;
    transition: 0.2s ease;
}

.minimal-link:hover {
    background: #8ACE00;
    color: #ffffff !important;
}
.login{
    background-color: #000000;
    font-size: 15px;
    color:#ffffff;
    padding: 8px 15px;
    border-radius: 20px 20px ;
    text-decoration: none;
    font-weight: bolder;
    position: relative;
    left: 50px;
}
.user{
    background-color: #ffffff;
    font-size: 15px;
    color:#8ACE00;
    padding: 8px 15px;
    border-radius: 20px 20px ;
    text-decoration: none;
    font-weight: bolder; 
    position: relative;
    left: 60px;
}

.login:hover{
    background: #000000;
    color:#8ACE00;
}

.user:hover{
    background: #000000;
    color:#8ACE00;   
}
.main3{
    width: 1000px;
    height:600px;
    background-color: #1f1f1f;
    margin:auto;
    border: solid 1px black;
    border-radius: 10px;
}
.nuurzurag{
    width: 180px;
    height: 220px;
    background-color: #8ACE00;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 40px;
}
.fitdiv{
    
}