*{box-sizing:border-box}

.main {
    width: 1150px; /* Агуулга багтаахын тулд бага зэрэг сунгав */
    height: 900px;
    background-color: #8ACE00;
    margin: 25px auto;
    padding: 25px;
}

.main2 {
    width:1100px;
    height:850px;
    background: #000000;
    border: 6px solid rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    box-shadow: 0 14px 40px rgba(0,0,0,0.5);
    position: relative;

}

/* Navbar styles */
.minimal-nav {
    background: black;
    padding: 15px 0;
}

.minimal-link {
    font-weight: 500;
    font-size: 15px;
    color: #ffffff !important;
    padding: 8px 12px;
    border-radius: 6px;
    transition: 0.2s ease;
}

.minimal-link:hover {
    background: #8ACE00;
    color: #ffffff !important;
}
.login{
    background-color: #000000;
    font-size: 15px;
    color:#ffffff;
    padding: 8px 15px;
    border-radius: 20px 20px ;
    text-decoration: none;
    font-weight: bolder;
    position: relative;
    left: 50px;
}
.user{
    background-color: #ffffff;
    font-size: 15px;
    color:#8ACE00;
    padding: 8px 15px;
    border-radius: 20px 20px ;
    text-decoration: none;
    font-weight: bolder; 
    position: relative;
    left: 60px;
}

.login:hover{
    background: #000000;
    color:#8ACE00;
}

.user:hover{
    background: #000000;
    color:#8ACE00;   
}

.premium-btn{
  background:#8ACE00;
  color:#000;
  padding:8px 18px;
  border-radius:20px;
  font-weight: bolder;
  position: relative;
  left: 90px;

}

.premium-btn:hover{
  background:#6aa800;
}
/* Contact Specific Section */
.badge-contact {
    display: inline-block;
    border: 1px solid #8ACE00;
    color: #8ACE00;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 12px;
    letter-spacing: 1px;
}

.contact-card {
    background: #1a1a1a;
    border-radius: 15px;
    padding: 30px 20px;
    transition: 0.3s;
    border: 1px solid #333;
}

.contact-card:hover {
    border-color: #8ACE00;
    transform: translateY(-5px);
}

.card-icon-box {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.contact-card h3 { font-size: 22px; color: #fff; margin-bottom: 15px; }
.contact-card hr { border-color: #333; margin: 20px 0; }
.contact-card p { color: #aaa; margin: 2px 0; font-size: 14px; }

.btn-location {
    display: block;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #333;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
}

.btn-location:hover {
    background: #8ACE00;
    color: #000;
    border-color: #8ACE00;
}