.main{
    width:1150px;
    height:750px;
    background-color: #8ACE00;
    margin: auto;  
}
.main2{
    width:1100px;
    height:700px;
    background:#000000;
    border: 6px solid rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    box-shadow: 0 14px 40px rgba(15,40,80,0.18);
    position: relative;
    top:25px;
    left:25px;
}
.main3{
    width:600px;
    height: 500px;
    background-color: #8ACE00;
    background: linear-gradient(to  #8ACE00 green);
    border: 6px solid #8ACE00;
    border-radius: 10px;
    box-shadow: 0 14px 40px #1E1E1E;
    margin-top: 50px;
    margin-left: 250px;
}
.minimal-nav {
    background: black;
    padding: 15px 0;
}

.minimal-link {
    font-weight: 500;
    font-size: 15px;
    color: #ffffff !important;
    padding: 8px 12px;
    border-radius: 6px;
    transition: 0.2s ease;
}

.minimal-link:hover {
    background: #8ACE00;
    color: #ffffff !important;
}

.signup{
    text-decoration: none;
    font-size: 15px;
    color: black;
}
.premium-btn{
  background:#8ACE00;
  color:#000;
  padding:8px 18px;
  border-radius:20px;
  font-weight: bolder;
  position: relative;
  left: 90px;

}

.premium-btn:hover{
  background:#6aa800;
}.premium-btn{
  background:#8ACE00;
  color:#000;
  padding:8px 18px;
  border-radius:20px;
  font-weight: bolder;
  position: relative;
  left: 90px;

}

.premium-btn:hover{
  background:#6aa800;
}